
.tiktak-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 50px auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .box {
    width: 100px;
    height: 100px;
    border: 2px solid #444444;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #444444;
    font-family: 'Poppins', sans-serif;
  }
  
  .box:hover {
    cursor: pointer;
    background-color: #d3d3d3;
  }
  
  .result {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    color: #444444;
  }
  
  .btn {
    text-align: center;
    margin-top: 20px;
  }
  
  #btnn {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #444444;
    color: #ffffff;
    cursor: pointer;
  }
  
  #btnn:hover {
    background-color: #ffffff;
    color: #444444;
    transition: all 0.3s ease-in-out;
  }
  
  
  